<html>
  <head>
    <script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/index.css"></link>
    <title>es_api</title>
  </head>
  <body>
    <div id="header">
      Welcome to the es_api!
    </div>
    <div id="interactive">
      <div id="populate">
        <span class="section_heading">
          Populate DBs
        </span><br />
        <div class="small_print">Note: This will delete and re-populate existing dbs:</div><br />
        <button id="populate_sql_button">Populate SQLite</button>
        <button id="populate_es_button">Populate ES</button>
      </div>
      <hr />
      <div id="all_users">
        <span class="section_heading">
          Get all users<br />
          <button id="user_button">Get users</button>
        </span>
      </div>
      <hr />
      <div id="user_indices">
        <span class="section_heading">
          Get user indices<br />
        </span>
      Enter user name: <input id="user_indices_input"></input><button id="user_indices_button">Get user indices</button>
      </div>
      <hr />
      <div id="search">
        <span class="section_heading">
          Search as user 'foo'<br />
        </span>
      Enter search index: <input id="search_index_input"></input><br />
      Enter search as parameter:term (Ex: first_name:fred): <input id="search_term_input"></input><button id="search_button">Search</button>
      </div>
      <hr />
    </div>
    <div id="content">
      Content will display here.
    </div>
  </body>
</html>
