<html>
  <head></head>
  <body>
    <div id="header">
      <b>Welcome to the es_api!</b>
    </div>
    <div id="interactive">
      #get all users<br />
      #get user indices<br />
      #search as foo<br />
    </div>
    <div id="content">
    </div>
  </body>
</html>
