body {
  margin-left: 4em;
  margin-right: 4em;
}

#header {
  text-align: left;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
}

.section_heading {
  font-size: 1.5em;
}

#content {
  padding-top: 2em;
  text-align: left;
}
